@import url(../public/biuld/fontfase.css);

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .linkSidbar:hover {
    cursor: pointer;
  }
  

}


:root {
  --border-color: #383d3f;
  --color-Main : #f97316;
}
